@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|ZCOOL+XiaoWei&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab";
}

/* Header section */

#top-bar {
  font-family: "ZCOOL XiaoWei";
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-bar img {
  margin: 1%;
}

#hero {
  background: url("../img/hero-image.png") no-repeat center center/cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #000;
}

/* Styles for the main section */
main #main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 3% auto;
}
#main-section p {
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
}

/* Form Styles */
form {
  width: 30%;
}
input[type="number"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  width: 100%;
}
