@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|ZCOOL+XiaoWei&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab";
}

/* Header section */

#top-bar {
  font-family: "ZCOOL XiaoWei";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
#top-bar img {
  margin: 1%;
}

#hero {
  background: url("../img/hero-image.png") no-repeat center center/cover;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #000;
}

/* Styles for the main section */
main #main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 3% auto;
}
#main-section p {
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
}

/* Form Styles */
form {
  width: 70%;
}
input[type="number"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

#submit,
input[type="reset"] {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  display: block;
  width: 30%;
  margin-top: 20px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background: transparent;
}

#submit:hover,
input[type="reset"]:hover {
  background: #000;
  color: #fff;
}

.quote {
  font-style: italic;
  padding: 10px;
  width: 70%;
}

blockquote {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 2%;
  color: #eb094d;
}

#display {
  text-align: center;
  margin: 0;
  color: #fff;
}

.author {
  color: #6b273b;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

/* Footer styling */
footer {
  background: #eb094d;
  height: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}
